
/*/*sommaire*/

/*--------------------------- general---------------------------------*/



@font-face {
    font-family: 'robotobold';
    src: url('roboto-bold/roboto-bold-webfont.woff2') format('woff2'),
         url('roboto-bold/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color: #232323;
  	transition: color 0.3s ease;
}

/*---------------------------- header----------------------------------*/
div.logo img{
	margin:10px 0px 10px 0px;
}

.header{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	
	
}


header ul {
	display: flex;
	list-style-type: none;
	font-size:20px;
	margin:35px 0px 0px 0px;		
}


ul a{
	font-family: arial;
	padding:0px 10px 0px 10px;
}

header ul a:hover{
	border-top: 3px solid #5cadd3;
	color: #000;
}

header ul a:focus{
	border-top: 3px solid #5cadd3;
	color: #000;
}

header li a.active{
	border-top: 3px solid #5cadd3;
}


header a
{
  padding-top: 1.576em
}

.slider img{
	width: 100%;
}

/*---------------------------- slider ----------------------------------*/

.slider .text{
	position: absolute;
	top: 6em;
	margin-left: 9em;
	font-size: 1.2vw;
	color: #fff;
	font-family: 'robotobold';
}

.slider{
	position: relative;
}


.WA span{
	color: #5cadd3;
}

.fa-angle-left{
	position: absolute;
	top: 30%;
	margin-left: 0.30em;
	color: #fff;
}

.fa-angle-right{
	position: absolute;
	right: 0;
	top: 30%;
	margin-right: .3em;
	color: #fff;
}


div.CercleGauche {
	position: absolute;
	top: 50%;
	top: 45%;
	width: 2.5vw;
	height: 5vw;
	background-color: rgba(0,0,0,0.5);
	border-radius: 0vw 5vw 5vw 0vw;
	flex-direction:column;
	display:flex;
	
}

div.CercleDroit{
	position: absolute;
	right: 0;
	top: 45%;
	width: 2.5vw;
	height: 5vw;
	background-color: rgba(0,0,0,0.5);
	border-radius: 5vw 0vw 0vw 5vw;
}



.boutton_Slider{
	background-color: #5cadd3;
	color: #fff;
  border: none;
	border-radius: 2px;
	font-size: 1.2vw;
	height: 2vw;
	white-space: nowrap;
	border-bottom: .2vw solid #4494bb;
}

/*---------------------------- Nos Services ----------------------------------*/



.header2{
	text-align: center;
	position:relative;
	padding-top:10px;
}

.services{
	display: flex;
}

div.Main_Feature{
	flex-grow: 5;
	text-align:center;
}

div.Main_Feature img{
	width:450px;
}


.services h4, .services p{
	margin:0;
	line-height:20px
}

.text article{
	margin: 10px 0px 10px 0px 
}

.text div{
	display: flex;

	
}

div.text div.fa{
	color: blue;
	position: relative;
	flex-basis: 50px;
}


div.cercle{
	color: #5cadd3;
	position: relative;
	height: 4em;
	border: 1px solid #c8c8c8;
	border-radius: 40px 40px 40px 40px;
	border-right: none;
	min-width:66px;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-top:25px;
	
		
}

.text article {
	padding-left: 20px;
}


div.decor{
	display: flex;
	justify-content: center;
	
}


.barre{
	border: 1px solid #ebebeb;
	flex-basis: 50px;
	margin: 5px;
	border-bottom: none;
	border-right: none;
	border-left: none;
}


div.point{
	border: 6px solid #5cadd3 ;
	border-radius: 12px 12px 12px 12px;		
}

div.cercle div{
	border: 6px solid;
	border-radius: 12px 12px 12px 12px;
	height: 1px;
	position: absolute;
	right: 0;
	top: 39%;
	margin-right: -8px
}

.UX_design {
	margin:auto;
}


.Nos_Services .text {
	margin: 5em 0em 1em 0em;
	flex-grow:2;
}

/*--------------------------- Nos-projets---------------------------------*/

.portfolio{
	display: flex;
	flex-wrap: wrap;
	max-width: 1600px;
	margin:auto; 
	justify-content: center;
}


.portfolio img{
	height: 250px;
	width: 300px;
	margin:10px 30px 10px 0px;

}


.portfolio figure{
	margin:0;
	padding:0;
}

.legendeportfolio{
	
	background-color: rgba(0,0,0,0.5);
	width: 300px;
	height: 75px;
	
	visibility:hidden;
	position: absolute;
	bottom: 14px;
	right: 30px;
	color: #fff;		 
}

.contenuPortfolio img:hover + .legendeportfolio {
	visibility: visible ;
}

.contenuPortfolio{
	position: relative;
	padding:0px 0px 10px 0px;

}



.circle{
	height: 50px;
	width: 50px;
	position: absolute;
	background-color: #5cadd3;
	border-radius: 25px;	
  	display: flex;
	align-items: center;
	justify-content: center;
}

.rond_blanc{
	position: absolute;
	width: 56px;
	height: 54px;
	background-color: #fff;
	right: 15px;
	top: -25px;
	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.Nos_Projets{
	background-color: #f5f5f5;
}


#FormilaireDeContact{
	position: relative;
}

.fond{
	background-color: #2174ab;
	width: 100%;
	height: 600px;
	position: absolute;
	top: 0;
	z-index: -1;
}

.Formulaire{
	position: absolute;
	right: 100px;
	top: 50px;
	background-color: rgba(255,255,255,0.7);
	padding-left: 20px;
	padding-right: 20px;
}


input,textarea{
	padding:10px 10px;
	width:300px;
}

iframe{
	opacity: .7;
	width:100%;
	height:600px;
	margin:0;
	padding:0;
	height: 600px;
	border: 0;
}

iframe style{
	border: 0;
}

.bouttonForm{
	background-color: #5cadd3;
	color: #fff;
  border: none;
	border-bottom: 3px solid #4494bb;
	border-radius: 2px;
	height: 30px;
	white-space: nowrap;
}

.menu2{
	margin:0px 0px 15px 0px;
}


.menu2 a {
	display:flex;
 	flex-direction:column;
 	align-items:center;
}




.menu2 ul{
	display:flex;
	list-style-type:none;
	justify-content:center;
	position: relative;
	margin:20px 0px 20px 0px;
	padding:0;
	
}

.menu2 li{
 padding:15px;
 background-color:#e5e5e5;
}




.menu2 li:first-child{
	background-color:#5cadd3;
	border-bottom:5px solid #468cad;
	border-radius:10px 0px 0px 10px;
}

.menu2 li:last-child{
	border-radius:0px 10px 10px 0px;
}

 .menu2 li:first-child .triangle{
	background-color: #468cad;
	border-left: 8px solid #f5f5f5;
	border-right: 8px solid #f5f5f5;
	border-top: 8px solid #468cad;
	position:absolute;
	bottom:-8px;	
}

	li:hover .triangle{
	background-color: #468cad;
	border-left: 8px solid #f5f5f5;
	border-right: 8px solid #f5f5f5;
	border-top: 8px solid #468cad;
	position:absolute;
	bottom:-8px;		
}

.menu2 li:hover{
	background-color:#5cadd3;
	border-bottom: 5px solid #468cad;
}

/*--------------------------- media-queries---------------------------------*/



 @media screen and (max-width: 500px){
 	.portfolio img{
	margin:auto;
	}

	.legendeportfolio{
	right:auto;
	bottom:4.5px;
	}

	div.Main_Feature img{
		width:300px;
	}

 }

@media screen and (max-width: 723px){

	header{
		flex-direction:column;
		text-align: center;
	}
	
	.slider{
		display: none;
	}

	
	header ul {
		flex-direction:column;
		font-size:19px;
		background-color:#333;
		display:block;
		justify-content: center;
		padding:0;
		position:relative;
		margin:auto;
	}
	
	header ul a.active{
		border:inherit;
	}
	li{
		padding: 10px 0px 10px 0px;
	}

	ul a{
		color:#fff;
	}

	header ul a:hover , header ul a:focus{
		border: inherit;
		color: #5cadd3;
	}

	

	.menu2 ul{
		flex-direction: column;
		height:auto;
		width: 100%;
	}

	.menu2 a:first-child, .menu2 a:last-child{
		border-radius:inherit;
	}
	
	.triangle{
		display:none;
	}

	li a.active{
		color:#5cadd3;
	}

	

}

@media screen and (max-width: 764px){
	div.UX_design{
		text-align:center;
		flex-direction:column;
	}

	.UX_design article{
		padding:inherit;
	}


	.services{
		flex-wrap:wrap;
		
	}

	.services .text{
		margin:auto;
	}

	.cercle{
		margin:auto;
	}
	
	
	.Formulaire{
		position:relative;
		right:auto;
		top:auto;
		margin:auto;
		width:250px;
		background-color:aliceblue

	}

	input , textarea{
		width:230px;
}
