/*/*sommaire*/

/*--------------------------- general---------------------------------*/



@font-face {
    font-family: 'robotobold';
    src: url('roboto-bold/roboto-bold-webfont.woff2') format('woff2'),
         url('roboto-bold/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
	margin: 0;
	padding: 0;
}

@media screen and (max-width: 975px){
	.header{
		flex-direction: column;
	}
	ul{
		margin-left:10em ;
		justify-content: center;
	}	
	
	.logo{
		margin-right: 8em;
		text-align: center;
	}
}

a{
	text-decoration: none;
	color: #716f6f;
}

/*---------------------------- header----------------------------------*/
div.logo{
	margin-left: 10em;
	margin-top: 1em;
	margin-bottom: 1em; 
}

.header{
	display: flex;
	justify-content: space-between;
}

ul {
	display: flex;
	list-style-type: none;
	margin-right: 10em;
	margin-top: 2em;
	
}


ul a{
	padding-top: 1.85em;
	padding-left: 1em;
	padding-right: 1em;
	font-family: arial;
}

ul a:hover{
	border-top: 3px solid #5cadd3;
	color: #000;
}

ul a:focus{
	border-top: 3px solid #5cadd3;
	color: #000;
}

a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

/*---------------------------- slider ----------------------------------*/

.slider .text{
	position: absolute;
	top: 6em;
	margin-left: 9em;
	font-size: 1.2vw;
	color: #fff;
	font-family: 'robotobold';
}

.slider{
	position: relative;
}


.WA span{
	color: #5cadd3;
}

.fa-angle-left{
	position: absolute;
	top: 30%;
	margin-left: 0.30em;
	color: #fff;
}

.fa-angle-right{
	position: absolute;
	right: 0;
	top: 30%;
	margin-right: .3em;
	color: #fff;
}


div.CercleGauche {
	position: absolute;
	top: 50%;
	top: 45%;
	width: 2.5vw;
	height: 5vw;
	background-color: rgba(0,0,0,0.5);
	border-radius: 0vw 5vw 5vw 0vw;
	flex-direction:column;
	display:flex;
	
}

div.CercleDroit{
	position: absolute;
	right: 0;
	top: 45%;
	width: 2.5vw;
	height: 5vw;
	background-color: rgba(0,0,0,0.5);
	border-radius: 5vw 0vw 0vw 5vw;
}



.boutton_Slider{
	background-color: #5cadd3;
	color: #fff;
  border: none;
	border-radius: 2px;
	font-size: 1.2vw;
	height: 2vw;
	white-space: nowrap;
	border-bottom: .2vw solid #4494bb;
}



/*---------------------------- Nos Services ----------------------------------*/



.header2{
	text-align: center;
}

div.services{
	display: flex;
	flex-wrap: wrap;
}

div.Nos_Services .text{
	flex-grow: 1;
}

div.Main_Feature{
	flex-grow: 1;
	text-align: center;
}

div.text div{
	display: flex;
	
}

div.text div.fa{
	color: blue;
	position: relative;
	flex-basis: 50px;
}


div.cercle{
	color: #5cadd3;
	position: relative;
	height: 4em;
	border: 1px solid #c8c8c8;
	border-radius: 40px 40px 40px 40px;
	border-right: none;
	flex-basis: 60px;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-top:25px;
	flex-wrap: wrap;	
}

div.text section {
	padding-left: 20px;
}


div.decor{
	display: flex;
	justify-content: center;	
}

.barre{
	border: 1px solid #ebebeb;
	flex-basis: 50px;
	margin: 5px;
	border-bottom: none;
	border-right: none;
	border-left: none;
}

}

div.point{
	border: 6px solid #5cadd3 ;
	border-radius: 12px 12px 12px 12px;		
}

div.cercle div{
	border: 6px solid;
	border-radius: 12px 12px 12px 12px;
	height: 1px;
	position: absolute;
	right: 0;
	top: 39%;
	margin-right: -8px
}

.UX{
	flex-wrap: wrap;
	line-height: 1.5em;
}

.Nos_Services .text {
	margin-top: 8em;
}

.Main_Feature img{
	margin-top: 3em;
}

.portfolio{
	display: flex;
	flex-wrap: wrap;
	max-width: 1600px;
  margin:auto ;
	justify-content: center;
	margin-top: 6em;
	
}


.portfolio img{
	height: 250px;
	width: 350px;
	margin: 10px

}

.legendeportfolio{
	
	background-color: rgba(0,0,0,0.5);
	width: 330px;
	height: 75px;
	padding: 10px;
	visibility:hidden;
	position: absolute;
	bottom: 24px;
	right: 20px;
	color: #fff;		 
}

.contenuPortfolio img:hover + .legendeportfolio {
	visibility: visible ;
}

.contenuPortfolio{
	position: relative;
	padding: 10px;
	
	
}

.conteneur1 div{
	display: flex;
	justify-content: center;
	height: 46px;
	width: 350px
}

.conteneur1{
	display: flex;
	align-items: center;
	flex-direction: column;
}

.circle{
	height: 50px;
	width: 50px;
	position: absolute;
	background-color: #5cadd3;
	border-radius: 25px;	
  	display: flex;
	align-items: center;
	justify-content: center;
}

.rond_blanc{
	position: absolute;
	width: 56px;
	height: 54px;
	background-color: #fff;
	right: 15px;
	top: -25px;
	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#Nos_Projets{
	background-color: #f5f5f5;
}

.conteneur1 section{
	background-color: #e5e5e5;
	border-bottom: 4px solid #e5e5e5;
	position: relative;
	padding: 13px;
  display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 3em;

}

.conteneur1 section:hover{
	background-color: #5cadd3;
	border-bottom-color: #468cad;
	color: #fff;
}

.All_Work{
	border-radius: 5px 0px 0px 5px;
}

.Port{
	border-radius: 0px 5px 5px 0px;
}


.conteneur1 section:hover .triangle{
	 width: 0px;
   height: 0px;
  background-color: #468cad;
	position: absolute;
	bottom: -12px;
	border-left: 8px solid #f5f5f5;
	border-right: 8px solid #f5f5f5;
	border-top: 8px solid #468cad;
}

#FormilaireDeContact{
	position: relative;
	background-color: #2174ab;
}

.Formulaire{
	position: absolute;
	right: 100px;
	top: 50px;
  background-color: rgba(255,255,255,0.7);
	padding-left: 20px;
	padding-right: 20px;
}


input,textarea{
	padding:10px 10px;
	width:300px;
}

iframe{
	opacity: .7;	
}

.bouttonForm{
	background-color: #5cadd3;
	color: #fff;
  border: none;
	border-bottom: 3px solid #4494bb;
	border-radius: 2px;
	height: 30px;
	white-space: nowrap;
}
